server {
  listen 80 default_server;
  root /app/build/;

  location / {
    try_files $uri $uri/ / =404;
    index index.html;
    # add headers to static assets
    add_header Access-Control-Allow-Origin *;
    add_header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept";
    add_header Cache-Control "public, s-maxage=900, max-age=300";

  }

}